<proxy balancer://appset>
        BalancerMember {{ balancer_member_1 }}
        BalancerMember {{ balancer_member_2 }}
        ProxySet lbmethod=bytraffic
</proxy>

ProxyPass "/" "balancer://appset/"
ProxyPassReverse "/" "balancer://appset/"