import os
from flask import Flask
from flaskext.mysql import MySQL  
app = Flask(__name__)

mysql = MySQL()

# MySQL configurations
app.config['MYSQL_DATABASE_USER'] = "{{ db_user }}"
app.config['MYSQL_DATABASE_PASSWORD'] = "{{ db_password }}"
app.config['MYSQL_DATABASE_DB'] = "{{ db_name }}"
app.config['MYSQL_DATABASE_HOST'] = "{{ mysql_database_host }}"
mysql.init_app(app)

conn = mysql.connect()

cursor = conn.cursor()

@app.route("/")
def main():
    return "Welcome to my server!"

@app.route('/how are you')
def hello():
    return 'I am good, how about you?'

@app.route('/read from database')
def read():
    cursor.execute("SELECT * FROM employees")
    row = cursor.fetchone()
    result = []
    while row is not None:
      result.append(row[0])
      row = cursor.fetchone()

    return ",".join(result)

if __name__ == "__main__":
    app.run()
